* {
    padding: 0;
    margin: 0;
}

body {
    background-position: 0 0, center;
    height: auto;
    width: auto;
}

.bg-snow {
    background-color: seashell;
}

.font-color-dark {
    color: rgb(40,40,40)
}

.list-style-type-none {
    list-style-type: none;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
}

.right {
    right: 0%;
}

.left {
    left: 0%;
}

.font-color-white {
    color: white !important;
}

.auto-height {
    height: auto;
}

.z-index-100 {
    z-index: 100;
}


.bg-dark-a {
    background-color: rgba(40, 40, 40, 0.5);
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -100;
    height: 100%;
    width: 100%;
    filter: blur(1.5px);
}

.qa {
    position: absolute;
    background: transparent;
    outline: none;
    border: hidden;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home {
    position: absolute;
    background: transparent;
    outline: none;
    font-size: 20px;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    border: none;
}

.qanda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qanda div {
    background: rgba(200, 200, 200, 0.5);
}

.qanda div h2 {
    font-size: 35px;
}

.qanda div h2 h3 {
    font-size: 25px;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}