body {
    background-image: url(../img/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.login form {
    background: rgba(50,50,50,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
    width: 320px;
}

.login form input {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
}

.login form input::placeholder {
    color: white;
}

.login form a input {
    background: none;
    color: white;
    border: none;
    border-radius: 50%;
}
