body {
    background-image: url(../img/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}

.login nav {
    background: rgba(50,50,50,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 20%;
}

.login nav input {
    width: 100%;
    background: none;
    border: none;
}

.login nav a input {
    background: none;
    font-size: 20px;
    border: none;
}
