body {
    background-image: url(../img/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.login {
    background: rgba(50,50,50,0.5);
}

.login nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-size: 20px;
}